<h2 class="text-center">Users</h2>
<div class="text-center">
    <nav class="breadcrumb mx-auto d-inline-block">
        <a class="breadcrumb-item text-body" routerLink="/dashboard">Dashboard</a>
        <span class="breadcrumb-item active">Users</span>
    </nav>
</div>

<div class="control-section">
    <div class="col-lg-10 content-wrapper users-section" style="margin-bottom: 25px;">

        <ejs-toast #toastMessage id='toastMessage'></ejs-toast>

        <ejs-grid #grid [dataSource]='users' [editSettings]='editSettings' [toolbar]='toolbar' allowPaging='true' [pageSettings]='pageSettings' (actionFailure)='actionFailure($event)' (actionBegin)='actionBegin($event)' (actionComplete)='actionComplete($event)'>
            <e-columns>
                <e-column field='id' [isPrimaryKey]="true" [isIdentity]="true" headerText='Id' width='120' textAlign='Left'></e-column>
                <e-column field='name' headerText='Nombre' width='160'></e-column>
                <e-column field='surname' headerText='Apellidos' width='120' textAlign='Left'></e-column>
                <e-column field='username' headerText='Nick' width='150' textAlign='Left'></e-column>
                <e-column field='age' headerText='Age' width='150'></e-column>
                <e-column field='professionId' headerText='Profesión' width=150 foreignKeyField='id' foreignKeyValue='name' [dataSource]='professions'></e-column>
            </e-columns>
        </ejs-grid>
    </div>
</div>